<br><hr><br>
<footer class="text-center text-lg-start">
  <div class="container p-4">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">NỘI THẤT Store</h5>
        <p>
          Chúng tôi có sứ mệnh tạo ra giá trị của khách hàng thông qua độ tin cậy và Tính linh hoạt.
          Chúng tôi muốn khách hàng có trải nghiệm tuyệt vời, sự ấm áp cũng như thoải mái thông qua Tôn trọng và Tin cậy .
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Điều hướng</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}" class="text-dark">Trang chủ</a>
          </li>
          <li>
            <a href="{% url 'furniture' %}" class="text-dark">Danh sách</a>
          </li>
          <li>
            <a href="{% url 'manage' %}" class="text-dark">Quản lý</a>
          </li>
          <li>
            <a href="{% url 'contact' %}" class="text-dark">Liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1 bg-secondary" href="https://www.facebook.com/profile.php?id=100074507422896&mibextid=ZbWKwL" role="button">
          <i class="fa fa-facebook-f" href="https://www.facebook.com/people/Nguy%E1%BB%85n-Th%C6%B0/pfbid02KxzS82gFcfQs8ppzHAGip4jffvxotyWLfdGnuhseHCSprW6UvxwuCqrjVPCid9KGl/?mibextid=ZbWKwL"></i>
      </a>
          <a class="btn btn-outline-light btn-floating m-1 bg-warning" href="https://nhaxinh.com/" role="button">
          <i class="fa fa-google"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1 bg-danger" href="https://www.instagram.com/260502anhthu?igsh=a2hqMmUyd3ZqMjBm" role="button">
          <i class="fa fa-instagram"></i>
      </a>
    </section>
  <div id="footer-bottom" class="text-center p-3 bg-light">
    © Thu cnpm3
    <a class="text-dark" href="{% url 'contact' %}">NỘI THẤT Store</a>
  </div>
</footer>