{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <header id="header-image">
        <img src="/static/images/header-image.jpg" class="img-fluid" alt="Responsive image">
        <figcaption> NỘI THẤT </figcaption>
        <p>Sự lựa chọn không giới hạn</p>
    </header>
    <div class="container">
        <br>
        <main>
            <div id="vision-mission">
                <h4 class="text-center"  style="color: sienna">Tầm nhìn của chúng tôi</h4>
                <hr>
                <p class="text-center"><i>Tầm nhìn của chúng tôi giúp các bạn có một không giang kiến trúc như mong muốn
                   cung cấp các sản phẩm không chỉ chất lượng mà còn mang tính sáng tạo.</i></p>
            </div>
            <div id="vision-mission">
                <h4 class="text-center" style="color: sienna">Trách nhiệm của chúng tôi</h4>
                <hr>
                <p class="text-center"><i>Chúng tôi có sứ mệnh tạo ra giá trị của khách hàng thông qua độ tin cậy và Tính linh hoạt.
                    Chúng tôi muốn khách hàng có trải nghiệm tuyệt vời, sự ấm áp cũng như thoải mái thông qua Tôn trọng và Tin cậy .</i></p>
            </div>
        <br>
            <div class="row ml-3">
                <div class="col">
                    <div class="card bg-light" style="width: 8rem;">
                        <img style="width:4rem; margin: 20px 0 0 30px" class="card-img-top" src="/static/images/favicon.ico" alt="Money"/>
                        <div class="card-body">
                            <p class="card-text text-center">Đảm bảo hoàn tiền</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card bg-light" style="width: 8rem;">
                    <img style="width:4rem; margin: 20px 0 0 30px" class="card-img-top" src="/static/images/favicon(6).ico" alt="Money"/>
                        <div class="card-body">
                            <p class="card-text text-center">Chất lượng cao</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card bg-light" style="width: 8rem;">
                    <img style="width:4rem; margin: 20px 0 0 30px" class="card-img-top" src="/static/images/favicon(5).ico" alt="Money"/>
                        <div class="card-body">
                            <p class="card-text text-center">Sự hài lòng từ khách hàng</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card bg-light" style="width: 8rem;">
                    <img style="width:4rem; margin: 20px 0 0 30px" class="card-img-top" src="/static/images/favicon(7).ico" alt="Money"/>
                        <div class="card-body">
                            <p class="card-text text-center">Giao hàng tận nơi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card bg-light" style="width: 8rem;">
                    <img style="width:4rem; margin: 20px 0 0 30px" class="card-img-top" src="/static/images/favicon(1).ico" alt="Money"/>
                        <div class="card-body">
                            <p class="card-text text-center">Bảo hành 2 năm</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card bg-light" style="width: 8rem;">
                    <img style="width:4rem; margin: 20px 0 0 30px" class="card-img-top" src="/static/images/favicon(3).ico" alt="Money"/>
                        <div class="card-body">
                            <p class="card-text text-center">Hỗ trợ khách hàng</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><hr><br>
            <div class="row featurette d-flex">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Hơn 20 năm kinh nghiệm. <span class="text-muted">Sẽ là một bất ngờ lớn.</span></h2>
                    <p class="lead">Trải qua không ít gian nan, trắc trở đã cho ra những sản phẩm đạt sự tin tưởng từ quý khách hàng khắp mọi nơi. Cửa hàng của chúng tôi sẽ không làm quý khách hàng thất vọng.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/static/images/main-furniture1.jpg" data-holder-rendered="true">
                </div>
            </div>
            <br><hr><br>
            <div class="row featurette d-flex">
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/static/images/main-furniture2.jpg" data-holder-rendered="true">
          </div>
                <div class="col-md-7">
            <h2 class="featurette-heading">Nội thất sang trọng. <span class="text-muted">Vô cùng thú vị, tinh tế.</span></h2>
            <p class="lead">Được thiết kế bởi các nhà sáng tạo hàng đầu có danh tiếng. Các sản phẩm mang lại một kiến trúc không chỉ tuyệt vời mà còn trờ nên hiện đại. Lựa chọn của hàng củ chúng tôi bạn sẽ được trải nghiệm nhiều kién trúc hơn cả mong đợi, trên cả bật nhất. Cam đam là một kỳ vọng đáng để mua smắ.</p>
          </div>
            </div>
        </main>
    </div>
{% endblock %}
